extends layout.pug

block content
    div.error-404
        h1 Page Not Found
        p Sorry, we couldn't find the page you were looking for.
        i.material-icons.md-48.icon-align remove_circle_outline